.inicio {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: clamp(20px, 5vw, 120px);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.conteudo-inicial {
  max-width: 600px;
}

.titulo-principal {
  font-size: clamp(36px, 6vw, 48px);
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.titulo-principal::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 2px;
  height: clamp(6px, 1vh, 8px);
  width: 40px;
  background: linear-gradient(to right, var(--cor-destaque), transparent);
}

.subtitulo {
  font-size: clamp(18px, 3vw, 20px);
  color: var(--cor-texto-secundario);
  margin-bottom: clamp(20px, 4vh, 30px);
}

.botao {
  position: relative;
  z-index: 2;
  padding: clamp(10px, 2vw, 12px) clamp(20px, 4vw, 24px);
  background-color: var(--cor-destaque);
  color: var(--cor-fundo);
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.3s ease;
}

.botao:hover {
  background-color: var(--cor-destaque-hover);
}

.imagem-inicial img {
  z-index: 1;
  position: relative;
  width: clamp(250px, 30vw, 400px);
  max-width: 100%;
}

@media (max-width: 768px) {
  .inicio {
    flex-direction: column;
    padding: clamp(20px, 5vw, 60px);
    margin-top: 20px;
    gap:60px
  }

  .imagem-inicial img {
    width: 250px;
  }
}

